# OS-specific files
.DS_Store
Thumbs.db

# Build and bin directories
/build/
/bin/

# Documentation
/docs/*
!/docs/Doxyfile
!/docs/screenshot.png

# clangd
.cache/

# Editors
.vscode/
.vs/
/proj/codeblocks/*.depend
/proj/codeblocks/*.layout
/proj/visual_studio/*.user
/proj/visual_studio/*.aps
xcuserdata/
